@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
    font-family: Barlow;
  }

#login{
    display: flex;
    justify-content: center;
}

/* was loginBox */
#inputBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    height: 90vh;
    width: 170vh;
    margin-top: 5px;
}

/* was login  */
.input{
    font-size: 30px;
    /* font-family: Barlow; */
    letter-spacing: 2px;
    text-align: center;
    margin: 10px;
    height: 50px;
    width: 330px;
    border: 2px solid black;
    border-radius: 10px;
}
 /* was LoginButton */
#signupLoginButton{
    font-size: 20px;
    /* font-family: Barlow; */
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 55px;
    width: 180px;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background: black;
}
#signupLoginButton:hover{
    font-style: italic;
    color: white;
    background: grey;
    border: 2px solid grey;
}
#userLink {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px;
    color: black;
    text-decoration: none;
}
#userLink:hover{
    font-style: italic;
    color: grey;
}



