/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
/* DM Serif  */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

#root {
  margin: 5px;
  /* background: rgb(224, 78, 0); */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  
}
body {
  margin: 0px;
  overflow: hidden;
}

#tabs{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  display: flex;
  gap: 30px;
}

#link{
  font-size: 25px;
  font-family: Barlow;
  letter-spacing: 2px;
  text-decoration: none; /* removes underline */
  color: black;
}

#link:hover{
  font-style: italic;
  font-weight: bold;
}


#chic{
  font-size: 160px;
  font-family: 'DM Serif Text', serif;
  font-weight: 100;
  line-height: 80%;
  margin-bottom: 80px;
  /* font-style: italic; */
  color: black;
}

.outfitsContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outfitBox {
  /* border: solid 1px black; */
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#outfit {
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


