/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
/* DM Serif  */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

* {
  font-family: Barlow;
}

#root {
  margin: 5px;
  /* text-decoration: none; */
  display: flex;
  align-items: center;
  flex-direction: column;

}

body {
  margin: 0px;
}

#tabs {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  display: flex;
  gap: 30px;
}

#link {
  font-size: 25px;
  letter-spacing: 2px;
  text-decoration: none; 
  color: black;
}

#link:hover {
  font-style: italic;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.chicText {
  font-size: 160px;
  font-family: 'DM Serif Text', serif;
  font-weight: 100;
  /* line-height: 80%; */
  /* margin-bottom: 80px; */
  /* font-style: italic; */
  color: black;
}

.outfitsContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outfitBox {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: center;
  margin: 15px;
}

#outfit {
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 5px 5px #DCDCDC;
  max-width: 325px;
  max-height: 380px;
  min-width: 325px;
  min-height: 380px;
}

.outfitsImg {
  max-width: 300px;
  max-height: 350px;
  border-radius: 10px;
}

.header{
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 80%;
}
.uploadForm {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  border: solid 2px black;
  border-radius: 10px;
  height: 30vh;
}

.allOutfitsForm {
  margin-bottom: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 2px black;
  border-radius: 10px;
  height: 20vh;
  width: 20vw;
}

.chooseFile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 25px;
  letter-spacing: 2px;
}

.uploadInput {
  height: 35px;
  width: 80%;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  padding: 20px;
  border: solid 2px black; 
}

.checkboxDiv {
  margin: 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

.outfitsButton {
  margin: 10px;
  /* height: 55px; */
  /* width: 180px; */
  padding: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer; 
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  background: black;
}

.outfitsButton:hover{
  font-style: italic;
  color: white;
  background: grey;
  border: 2px solid grey;
}

.randomOutfitButton {
  margin-top: 10px;
  margin-bottom: 50px;
}

.yourUpload {
  border: solid 1px black;
  padding: 10px;
  margin-top: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadImg {
  width: 300px;
  height: 300px;

}
